body{
    padding: 50px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(121,9,9,1) 100%);
}

h1{
    font-size: 100px;
    color: whitesmoke;
    font-weight: bold;
    font-family: "Arial";
    margin: 0;
}

h3{
    font-size: 20px;
    color: whitesmoke;
    font-family: "Arial";
    margin: 0;
}

hr{
    height: 2px;
    width: 100%;
    color: whitesmoke;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

#header h1{
    width: 520px;
}

#pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pictures .image {
    border: none;
    width: 200px;
    height: 200px;
    margin: 20px;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    transition: all 0.2s ease-out;
}

#pictures .image:hover {
    transform: translateY(-2%);
}

.overlay {
    background-color: black;
    opacity: 80%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

}

.overlayContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    position: fixed;
    top:calc(50vh - (30vw/2) - 40px);
    left: 35vw;

}

.overlayContentContainer h3{
    cursor: pointer;
}

.overlayImage{
    width: 30vw;
    height: 30vw;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

.whiteFilter{
    filter: invert(99%) sepia(100%) saturate(13%) hue-rotate(210deg) brightness(103%) contrast(100%);
}

.padBottom{
    padding-bottom: 15px;;
}

.marginRight{
    margin-right: 5px;;
}
.underline{
    text-decoration: underline;
}
